@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100&display=swap');

.producto-contenido {
    padding: 0 20px;
    margin: 0 10px;    
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.producto-compra{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem !important;
    width: 40%;

}

.venta{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 60%;
    border: solid 2px #3c75d7;
    border-radius: 5px;
    height: fit-content;
    margin-top: 20px;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    margin: 20px 10px 0 10px;
    padding: 0 20px 0 20px;
    color: #3c75d7;
    font-weight: bold;
}