@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100&display=swap');

.panel-izq {
    flex: 20;
    padding: 60px 20px 20px 20px;
    margin: 10px;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
}

.contenedor-producto {
    height: 100vh;
    flex: 80;
}

.titulo{
    margin: 20px 10px 0 10px;
    padding: 0 20px 0 20px;
    color: #3c75d7;
    font-weight: bold;
}

.contenido {
    padding: 0 20px;
    margin: 0 10px;    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 0 0 calc(25% - 5px) 0;
    margin: 10px 5px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    width: 16rem;
}

.card:hover{
    background-color: #3c75d7cb;
    .card-text {
        color: #fff;
    }
    .btn-outline-primary{
        border-color: #fff;
        color: #fff;
    }
    .btn-primary{
        color: #000;
        background-color: #fff;
    }
}

.card-text{
    font-style: normal;
    text-align: justify;
    font-weight: 300;
}